.media__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.video__container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video__container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*  ?==== MEDIA QUERIES (MEDIUM DEVICES) ====  */

@media screen and (max-width: 1024px) {
    .media__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

/*  ?==== MEDIA QUERIES (SMALL DEVICES) ====  */

@media screen and (max-width: 600px) {
    .media__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}


